@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

*{
  font-family: 'montserrat'
}

.swiper-pagination {
  margin-top: 1.5rem; 
}

@theme{
  --color-primary:#FFF7E9;
  --color-green-apple:#BBD8A3;
  --color-hitam-manja:#2A4759;
}